input[type="text"] {
    width: 30%;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0px;
}

.title {
    width: 30%;
}
.pai{
    display: flex;
    width: 50%;
    margin: auto;
    gap: 15px;
}

label {
    padding: 5px;
    border: 1px solid;
    margin: 15px
}

input[type="button"] {
    padding: 10px;
    margin: 10px;
    background-color: beige;
    margin-left: 20px;
}

input[type="submit"] {
    padding: 10px;
    margin: 10px;
    background-color: rgb(150, 224, 150);
    margin-left: 80px;
}

input[type="reset"] {
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 241, 46);
    
}

.flex {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 5px;
    
}


div.flex {
    display: flex;
    border: 1px solid black;
}

div#main {
    position: relative;
    text-align: center;
}

div#result {
    position: relative;
    text-align: center;
}

table#table {
    width: 50%;
    margin: auto;
    

}
