label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #c6c6c6;
    border: 1px solid green;
    border-radius: 15px;
}

input[type="reset"] {
    background-color: #bfdf4d9a;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

input[type="submit"] {
    background-color: #46bd7c9a;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
}

a {
   text-decoration: solid;
   margin: 10px;
}

a:hover {
    background-color:#0257289a ;

}
.controle {
    padding: 20px;
    border: 1px  solid #c6c6c6;
    text-align: center;

}

.flex {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
}

.div a{
   background-color: aqua;
}
